<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a4fc66">  <td>19/09/03 18:09:36</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GenerateSalary.afterMethod()[pri:0, instance:salary.GenerateSalary@73ad2d6]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@540642172</td>   <td></td> </tr>
<tr bgcolor="a4fc66">  <td>19/09/03 18:09:46</td>   <td>10011</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GenerateSalary.afterMethod()[pri:0, instance:salary.GenerateSalary@73ad2d6]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@540642172</td>   <td></td> </tr>
<tr bgcolor="a4fc66">  <td>19/09/03 18:09:25</td>   <td>-10709</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GenerateSalary.beforeMethod()[pri:0, instance:salary.GenerateSalary@73ad2d6]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@540642172</td>   <td></td> </tr>
<tr bgcolor="a4fc66">  <td>19/09/03 18:09:36</td>   <td>121</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GenerateSalary.beforeMethod()[pri:0, instance:salary.GenerateSalary@73ad2d6]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@540642172</td>   <td></td> </tr>
<tr bgcolor="a4fc66">  <td>19/09/03 18:09:40</td>   <td>4076</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GenerateSalary.generateSalaryForClient()[pri:1, instance:salary.GenerateSalary@73ad2d6]">generateSalaryForClient</td> 
  <td>main@540642172</td>   <td></td> </tr>
<tr bgcolor="a4fc66">  <td>19/09/03 18:09:30</td>   <td>-5736</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GenerateSalary.generateSalaryForEmployee()[pri:0, instance:salary.GenerateSalary@73ad2d6]">generateSalaryForEmployee</td> 
  <td>main@540642172</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>19/09/03 18:09:25</td>   <td>-10745</td> <td title="&gt;&gt;LoadProperties.loadProperties()[pri:0, instance:salary.GenerateSalary@73ad2d6]">&gt;&gt;loadProperties</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@540642172</td>   <td></td> </tr>
</table>
